<mat-card>
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <!-- ngModel binds the inputs by the user to the userData object-->
          <input
            matInput
            [(ngModel)]="newUser.Username"
            placeholder="Username"
            type="text"
            name="Username"
          >
          </mat-form-field>
          <mat-form-field>
          <input
            matInput
            [(ngModel)]="newUser.Password"
            type = "password"
            placeholder="Password"
            name="Password"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="newUser.Email"
            type = "email"
            placeholder="Email"
            name="Email"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="newUser.Birthday"
            type = "date"
            placeholder="Birthday"  
            name="Birthday"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
        <button
          mat-raised-button
          (click)="updateUser()"
        >
          Update!
        </button>
    </mat-card-actions>
  </mat-card>