.mat-card {
  margin: 8px;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 7px 5px 5px rgb(28, 63, 87);
}

.mat-card:hover {
  // opacity: 0.85;
  transform: scale(1.03);
  transition: .5s;
}